@import "../abstract/variaveis";
@import "../abstract/scroll.scss";


.animais-lista{
    height: 370px;
    overflow-y: scroll;
    grid-column:2 ;
    border-radius: 5px;
    &::-webkit-scrollbar,::-webkit-scrollbar-thumb{
        width: 15px;
        background: $cor-secudaria;
        border-left: 4px solid #faf6ed;
    }
}.animais h2{
    font-family:$fonte-body;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-bottom: 1rem;
    color:$cor-quarta-animais;
    &::before{
        content: '';
        display: inline-block;
        width: 40px;
        height: 10px;
        margin-right: 10px;
        background: $cor-secudaria;
        } .animais p {
            font-family: $font-one;
            line-height: 1.2;
            margin-bottom: 1rem;
            font-size: 18px;
            text-align:justify;
            .animais-descricao section{
            margin-bottom: 3rem;
            }.animais-descricao {
            grid-column: 3;   
            }       
        }
    }
         
         

    
