//Fonte
$font-color:#222;
$fonte-body:'roboto',Arial, sans-serif;
$fonte-two:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
$font-one:'roboto';
//Cores
$cor-fundo: #ffffff;
$cor-secudaria:rgb(240, 197, 6);
$cor-terceira:#fb5;
$cor-quarta-animais:rgb(233, 114, 35);
